.container {
    background-color: rgba(51, 45, 59, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    min-height: 100vh;
}

.eclipse:nth-child(1){
    clip-path: circle(50.0% at 50% 50%);
    background-color: #37313f;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -1;
    top:18%;
    left: 37%;
}

.eclipse:nth-child(2){
    clip-path: circle(50.0% at 50% 50%);
    background-color: #989595;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
    top: 35%;
    right: 35%;
}

.wrapper {
    width: 400px;
    padding: 1rem 1.5rem;
    background-color: #302938;
    border-radius: 8px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.32);
}

.wrapper h3 {
    font-weight: 300;
    text-align: center;
    line-height: 2;
}

.media-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.btn{
    display: flex;
    align-items: center;
    background-color: #352e3d;
    padding: 0.5rem 2rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
}

.btn button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    text-transform: capitalize;
    margin-left: 0.7rem;
    cursor: pointer;
    font-size: 0.9rem;

}

.wrapper p{
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem 0 1.5rem;
}

.form label{
    display: block;
    color: #e1dfdf;
    font-size: 0.9rem;
    text-transform: capitalize;
    line-height: 1.5;
}

.form input, .form button{
    width: 100%;
    padding: 0.8rem 0;
}

.form input{
    color: #57575b;
    padding-left: 0.3rem;
    background-color: rgb(53, 46, 61);
    border: 1px solid #3b3b3b;
    border-radius: 3px;
    font-size: 1rem;
}

.form input.error{
    border: 1px solid darkred;
}

.form input.success{
    border: 1px solid darkgreen;
}

.form input::placeholder{
    font-size: 0.9rem;
}

.form input.success::placeholder{
    color: white;
}

.form button{
    margin: 1rem 0;
    background-color: #9089F0;
    color: white;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.wrapper span{
    display: block;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
}

.wrapper span a{
    color: #9089F0;
}

.form-control{
    margin-bottom: 1rem;
}